**/__pycache__

.gemini/
gha-creds-*.json
*code_gen_venv
tinker_cookbook/scripts/*
tinker_cookbook/runtime/*
pyproject.toml
poetry.lock
Makefile
tinker_cookbook/docs/*
tinker_cookbook/sandbox/*
tinker_cookbook/assets/*
tinker_cookbook/recipes/code_rl/code_generation